{
    "extends": "airbnb-base",
    "env": {
    "node": true,
    "es2021": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": ["warn", { "allow": ["log", "warn", "error"] }],
    "linebreak-style": ["error", "unix"]
  }
  }